{%extends 'layout.html' %}
{% block body%}
<div class="container-fluid d-flex justify-content-center " style="min-height: 80vh;">
    <div class="col-md-6">
        <h2 class="card-title text-center">Edit Action</h2>
    
        <div class="card">
    
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="/editaction/{{action.id}}">

                        <div class="mb-3">
                            <label for="form" class="form-label">Select Form</label>
                            <select class="form-select" id="formu" name="formu" required>
                                {% for frm in form %}
                                    <option value="{{ frm.id }}" {% if frm.id == action.form.id %}selected{% endif %}>{{ frm.name }}</option>
                                {% endfor %}
                            </select>
                            
                        </div>
                        <div class="mb-3">
                            <label for="form" class="form-label">Select Action</label>
                            <select class="form-select" id="request" name="request" required>
                                {% for act in actionsenum %}
                                    <option value="{{ act.value }}" {% if act.value == action.request.value %}selected{% endif %}>{{ act.name }}</option>
                                {% endfor %}
                            </select>
                            
                        </div>
                        
                        <div class="mb-3">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{action.name}}" required>
                        </div>
                        <div class="mb-3">
                            <label for="callurl" class="form-label">Call url</label>
                            <input type="text" class="form-control" value={{action.call_url}} id="callurl" name="callurl" pattern="https?://.+">

                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-warning edit-button" type="button">
                              <i class="fas fa-edit"></i> Edit
                          </button>
                          
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
