<!-- editquestion.html -->
{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Edit Question</h2>
                    <p class="">Edit the fields</p>
                    <form method="POST" action="/editquestion/{{ question.id }}">
                        <div class="mb-3">
                            <label for="formu" class="form-label">Select Form:</label>
                            <select class="form-select" id="formu" name="formu" required>
                                {% for frm in forms %}
                                    <option value="{{ frm.id }}" {% if question.form.id == frm.id %}selected{% endif %}>{{ frm.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name question:</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{ question.name }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description:</label>
                            <input type="text" class="form-control" id="description" name="description" value="{{ question.description }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="kind" class="form-label">Select Kind</label>
                            <select class="form-select" id="kind" name="kind" required>
                                {% for qe in questionsenum %}
                                    <option value="{{ qe.value }}" {% if question.kind == qe %}selected{% endif %}>{{ qe.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="order" class="form-label">Order</label>
                            <input type="number" class="form-control" id="order" name="order" value="{{ question.order }}">
                        </div>

                        <!-- Área de Validaciones -->
                        <div id="validations">
                            <h3>Validations</h3>
                            {% for validation in question.validations %}
                                <div class="mb-3 validation-fields">
                                    <label for="validation_name" class="form-label">Name:</label>
                                    <input type="text" class="form-control" name="validation_name[]" value="{{ validation.name }}" required>

                                    <label for="validation_exp" class="form-label">Expression:</label>
                                    <input type="text" class="form-control" name="validation_exp[]" value="{{ validation.exp }}" required>

                                    <label for="validation_error_msg" class="form-label">Error Message:</label>
                                    <input type="text" class="form-control" name="validation_error_msg[]" value="{{ validation.error_msg }}" required>

                                    <button type="button" class="btn btn-danger delete-validation  float-end" title="Delete Field" style="width: 27px; height: 27px; border-radius: 50%; display: flex; align-items: center; justify-content: center; margin: 10px;">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                    
                                </div>
                            {% endfor %}
                            <button type="button" class="btn btn-success add-button add" title="Add Field" id="addValidation">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-warning edit-button">
                                Edit <i class="fas fa-edit"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var validationsContainer = document.getElementById('validations');
        var addValidationButton = document.getElementById('addValidation');

        addValidationButton.addEventListener('click', function() {
            var newValidation = document.createElement('div');
            newValidation.className = 'mb-3 validation-fields';

            var nameLabel = document.createElement('label');
            nameLabel.innerText = 'Name:';
            var nameInput = document.createElement('input');
            nameInput.type = 'text';
            nameInput.className = 'form-control';
            nameInput.name = 'validation_name[]';
            var expLabel = document.createElement('label');
            expLabel.innerText = 'Expression:';
            var expInput = document.createElement('input');
            expInput.type = 'text';
            expInput.className = 'form-control';
            expInput.name = 'validation_exp[]';
            var errorMsgLabel = document.createElement('label');
            errorMsgLabel.innerText = 'Error Message:';
            var errorMsgInput = document.createElement('input');
            errorMsgInput.type = 'text';
            errorMsgInput.className = 'form-control';
            errorMsgInput.name = 'validation_error_msg[]';

            var deleteButton = document.createElement('button');
            deleteButton.type = 'button';
            deleteButton.className = 'btn btn-danger delete-validation float-end';
            deleteButton.innerHTML = '<i class="fas fa-trash"></i> ';
            deleteButton.style.width = '27px';
            deleteButton.title= 'Delete field';
            deleteButton.style.height = '27px';
            deleteButton.style.borderRadius = '50%';
            deleteButton.style.display = 'flex';
            deleteButton.style.alignItems = 'center';
            deleteButton.style.justifyContent = 'center';
            deleteButton.style.margin = '10px';
            newValidation.appendChild(nameLabel);
            newValidation.appendChild(nameInput);
            newValidation.appendChild(expLabel);
            newValidation.appendChild(expInput);
            newValidation.appendChild(errorMsgLabel);
            newValidation.appendChild(errorMsgInput);
            newValidation.appendChild(deleteButton);

            validationsContainer.insertBefore(newValidation, addValidationButton);
        });

        validationsContainer.addEventListener('click', function(event) {
            if (event.target.classList.contains('delete-validation') ||
                event.target.parentElement.classList.contains('delete-validation')) {
                event.target.closest('.validation-fields').remove();
            }
        });
    });
</script>




{% endblock %}
