<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Croppie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top" style="height: 80px; ">
    <div class="container-fluid bg-dark">
        <a class="navbar-brand" href="/" style="color: white;">Logo aqui</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" style="font-size: 18px">

                <li class="nav-item">
                    <a class="nav-link" href="/form" style="color: white;">Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/question" style="color: white;">Question</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/melisa" style="color: white;">Melisa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/action" style="color: white;">Actions</a>
                </li>

                
            </ul>
        </div>
    </div>
</nav>




<body>
    <div class=" cont " style="margin-top: 100px; ">{% block body %} {% endblock %}</div>
    <link rel="stylesheet" href="../static/css/templates.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        // Selecciona todas las alertas con la clase "auto-dismiss-alert"
        var autoDismissAlerts = document.querySelectorAll('.auto-dismiss-alert');

        // Itera a través de las alertas y cierra cada una después de 2 segundos
        autoDismissAlerts.forEach(function (alert) {
            setTimeout(function () {
                var bsAlert = new bootstrap.Alert(alert);
                bsAlert.close();
            }, 5000); // 2000 milisegundos = 2 segundos
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"> </script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"> </script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"> </script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/scripts.js"></script>
</body>

</html>